/*Adjust all in oneline urlbar next to tabbar*/



 #TabsToolbar,#nav-bar {
     height: 25x !important;
}
 #nav-bar {
     margin-bottom: -1px;
}
 #TabsToolbar {
     margin-left:20.10vw !important;
    /*margin-right:124px !important;
    /*/
}
 #TabsToolbar > .toolbar-items{
    /*hack for f65*/
     margin-right: 3.9vw!important;
}
 #main-window[sizemode="normal"] #TabsToolbar > .toolbar-items{
    /*hack for f65*/
     margin-right: 6.9vw!important;
}
 #nav-bar {
     margin-top:-31px !important;
     margin-right: 79.9vw!important;
}
 #main-window[sizemode="normal"] #TabsToolbar {
     margin-left:21.10vw !important;
}
 #main-window[sizemode="normal"] #nav-bar {
     margin-top:-31px !important;
     margin-right: 75.9vw!important;
}
 #main-window[sizemode="normal"] #urlbar-container {
     min-width: calc(49ch -48px + 2 * var(--toolbarbutton-inner-padding) )!important;
}
 #urlbar, .searchbar-textbox {
     font-size: 2.25em;
     border-radius: 0.5em !important;
}
 #PanelUI-button, #customization-panel-container, #customization-panelWrapper .panel-arrow {
    /* Move Hamburger to left */
     -moz-box-ordinal-group: 0 !important;
     margin-right: -6px !important;
     margin-top: 1px !important;
}
 #PlacesToolbar {
     margin-top: 2px;
     margin-bottom: -2px;
}
 #page-action-buttons {
     display: none !important;
}
/* Centre Bookmarks */
 .bookmarks-toolbar-items>.scrollbox-innerbox {
     margin-top: -1px !important;
}
 .bookmark-item > .toolbarbutton-text {
     margin-top: -1px !important;
}
 .tabbrowser-tab[usercontextid] .tab-line{
     background-color:var(--identity-tab-color)!important;
}
/* Title Changed Notification */
 .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
     filter:grayscale(100%) background-position: center bottom !important;
     background-size: 4px !important;
}
/* Hide pinned tabs .tabbrowser-tab[pinned="true"] {
     display: none !important;
}
 */
/* Remove separator between menu and overflow */
 #PanelUI-button {
     border-inline-start: 0px solid !important;
}
 