 
/* Contextual toolbar buttons, only show on hover, this is what matters, the rest of the file are just style tweaks I like */
 :root:not([customizing]) #PanelUI-button, :root:not([customizing]) #nav-bar-overflow-button, :root:not([customizing]) #nav-bar-customization-target toolbarbutton {
     margin-left: -28px !important;
     opacity: 0 !important;
     transform: scale(.85, .85) !important;
     pointer-events: none !important;
     transition: all 300ms!important;
}
 :root:not([customizing]) :hover > #PanelUI-button, :root:not([customizing]) :hover > #nav-bar-overflow-button, :root:not([customizing]) :hover > #nav-bar-customization-target toolbarbutton, :root:not([customizing]) #nav-bar-customization-target:focus-within #nav-bar toolbarbutton, :root:not([customizing]) :hover > .titlebar toolbarbutton {
     transform: scale(1, 1) !important;
     opacity:1 !important;
     margin-left:0 !important;
     pointer-events: auto !important;
     transition: all 300ms !important;
}
/* Change tab max width */
 .tabbrowser-tab[fadein]:not([pinned]) {
     max-width: 250px !important;
}
 .tabbrowser-tab[pending] {
     font-style: italic;
}
 toolbarspring {
     min-width: 8px;
     max-width: 8px;
}
 * nav bar is semi opaque when unhovered */
 #nav-bar > * {
     opacity:0.5;
     transition: opacity 0.3s;
}
 #nav-bar:hover > * {
     opacity:1 !important;
}
 #urlbar {
     opacity:1 !important;
}
 #urlbar .urlbar-input-box {
     opacity:1 !important;
}
 #urlbar, .searchbar-textbox {
     border: 0px !important;
     height: 20px !important;
}
 #urlbar {
     margin-left: 1px !important;
     margin-right: 1px !important;
}
 .tab-background {
     border-top: none !important;
}
 .tabs-newtab-button, #new-tab-button, #alltabs-button {
     color: rgba(240, 240, 240, 1);
     border-top: 0px !important;
     margin-bottom: 0px !important;
}
 window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
     box-shadow: none !important;
     border: 0px !important;
}
 