/*Toolbars color  */
 #TabsToolbar, #tabbrowser-tabs, #nav-bar, #toolbar-menubar, #browser-panel {
     background-color:transparent !important;
}
 #nav-bar {
     background-color: rgba(111,100,90,0.10)!important;
}
 #urlbar {
    /*Address Bar*/
     background-color: rgba(58,107,148,0.0)!important;
}



/*RED borders in toolbar*/
#main-window[sizemode="normal"] #navigator-toolbox:after{
  top: 10%;
  left: 0%!important;
  right: 0;
  bottom: 0;
 background: linear-gradient(120deg, rgb(0,3,1),rgb(130,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),  rgb(120,33,11),rgb(70,33,11),rgb(52,0,0) , rgb(0,0,0));
 clip:rect(31px,2600px,34px,0px)!important;
}
#navigator-toolbox:after {
  content: ""; 
  top: 10%;
  left: 1.27%;
  right: 0;
  bottom: 0;
 background: linear-gradient(120deg, rgb(0,3,1),rgb(200,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),rgb(255,3,1),  rgb(120,33,11),rgb(70,33,11),rgb(52,0,0) , rgb(0,0,0));
  clip:rect(31px,2600px,33px,0px);
  display: -moz-box;
  pointer-events: none;
  will-change: filter;

}
#navigator-toolbox {
    border-bottom: 0px solid var(--chrome-content-separator-color)!important;
}
#navigator-toolbox:after {
    position: absolute!important;

}

/*RED borders in selected tab*/
.tab-background[selected="true"]:-moz-lwtheme
 { 
 	background:rgba(23,23,23,1)!important;
  background-color:rgba(23,23,23,1)!important;
   background-image:none!important;


}
 .tabbrowser-tab[selected="true"]:-moz-lwtheme
 { 
  position:relative!important;
  border-width:2px!important;
   border-bottom-color:rgb(20, 20, 20)!important; 
   border-style:solid!important;
  border-left-color:rgb(220,0,0)!important;
  border-right-color:rgb(220,0,0)!important; 
  border-top-color:rgb(220,0,0)!important; 

}
