/* Makes popups, menus and context menus have round corners */
/* Limit popups for general browser popups so that devtools is not affected */
 .panel-arrowcontent, #alltabs-popup .arrowscrollbox-scrollbox, menupopup:not(#BMB_bookmarksPopup), .textbox-contextmenu{
     border-radius: 5px !important;
}
/* GENERAL */
 menupopup, menuitem, menu{
     -moz-appearance: none !important;
}
 menupopup{
     border:none;
}
 menuitem, menu{
     min-height:24px !important;
}
/* POPUP PANELS */
 #alltabs-popup, #alltabs_containersMenuTab{
     border: none !important;
}
 #editBookmarkPanel textbox, #editBookmarkPanel menulist, #editBookmarkPanel button, #editBookmarkPanel richlistbox, #editBookmarkPanel tree{
     -moz-appearance: none !important;
}
 #editBookmarkPanel button:hover{
     filter: brightness(150%) 
}
 #editBookmarkPanel menulist{
     padding: 4px !important;
}
 #editBookmarkPanel button{
     padding: 3px !important;
}
 