 /* statuspanel */

#statuspanel {
  background-color: transparent !important;
  border: none !important;
  bottom: 3px !important;
  height: 33px !important;
  max-width: 25% !important; /* Change the value to suite your needs */
  transition: none !important;
}

#statuspanel { opacity: 1 !important; }
#main-window:not([sizemode="fullscreen"]) #statuspanel[inactive] #statuspanel-inner::before {
  bottom:2px !important;
  padding-left:5px !important;
  position: fixed !important;
  content:"Done" !important;
  }
#statuspanel[inactive] #statuspanel-label { display: none !important; }

/* If you're not on the latest Firefox version,
change the #statuspanel-inner
to .statuspanel-inner */

#statuspanel #statuspanel-inner {
  background-color: transparent !important;
  border: none !important;
  height: 23x !important;
}

/* If you're not on the latest firefox version,
change the #statuspanel-label
to .statuspanel-label */

#statuspanel #statuspanel-label {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}



