scrollbar,
scrollbar * {
	-moz-appearance: none !important;
	--scrollbar-width: 10px;
    --scrollbar-height:  var(--scrollbar-width);
}

scrollbar {
    background: rgba(11,1,1,0.1)!important;
}
scrollbar[orient="vertical"] {
    width: var(--scrollbar-width) -9px!important;
    
}
scrollbar[orient="horizontal"] {
    height: var(--scrollbar-height) !important;
}

scrollbar thumb {

	background: #646464 !important;
}
scrollbar:hover thumb,
scrollbar thumb:active {
	background: #00ACED !important;
}
scrollbar thumb[orient="vertical"] {
	min-height: 32px !important;
	width: var(--scrollbar-width) !important;
}
scrollbar thumb[orient="horizontal"] {
	min-width: 32px !important;
	height: var(--scrollbar-height) !important;
}

scrollbar scrollbarbutton {
    display: none !important;
}


.tree-rows scrollbar thumb {

    display:none!important;

}
#bookmarksPanel:not(x) scrollbar {
display:none !important; }

.sidebar-placesTree scrollbar-thumb{

    display:none!important;

}
